
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* //navbar css */
.navbar {
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  background: #000000 !important;
  color: white !important;
}

.nav-link {
  font-weight: 400 !important;
  color: white !important;
}

.active {
  border-bottom: 2px solid rgb(255, 255, 255);
}

.navbar-brand {
  font-weight: 500;
  letter-spacing: 3px;
}

.search-form {
  margin-right: 10px;
  margin-top: 4px;
}
.search-form input {
  border: none;
  border-radius: 5px;
}
.search-form button {
  
  border-radius: 5px;
}

/* =============================
==========footer============= */

.footer {
  color: white;
  padding: 20px;
  padding-bottom: 10px;
  background: #000000; 
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}
/* =================================
======== page not found css ======= */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}
/* ========================================= */
/* =========contact us ========= */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==================== */
.product-link {
  text-decoration: none !important;
  color: black !important;
}

.cat-btn {
  padding: 40px 0px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
}
.cat-btn:hover {
  background-color: #000000;
  color: white;
}

/* ================
====dashboard
=================== */

.dashboard {
  padding-top: 100px !important;
}

.dashboard-menu h4 {
  background-color: #000000 !important;
  color: white;
  padding: 20px 0px;
  border-radius: 5px;
  font-weight: 400;
}

.bld{
  font-weight: 700;
  font-size: 25px;
}

.btxt{
  font-size: 23px;
  text-transform: none;
}