.category {
  flex-wrap: wrap;
  margin-top: 60px !important;
  padding-top: 45px !important;
  padding-bottom: 55px !important;
}
.category .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 310px;
}


.category .card-name-price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category .card-price {
  color: rgb(0, 55, 0);
  font-weight: bold;
}
.category button {
  border-radius: 5px;
}


.category .card img:hover {
  transform: scale(0.9);
}

.category .card-img-top {
  height: 300px !important;
  width: 300px !important;
  margin:5px !important;
}





























































































